.back-btn-3d {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 10px 10px ; */
  border-radius: 50px;
  border: none;
  background: linear-gradient(145deg, #e70606, #0ae27d);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;

  /*3D  */
  /* box-shadow:
    0 6px 0 #cfcfcf,
    0 10px 20px rgba(0,0,0,0.15);

  transition: all 0.15s ease; */
}

/* hover  */
.back-btn-3d:hover {
  transform: translateY(-2px);
  /* box-shadow:
    0 8px 0 #cfcfcf,
    0 14px 24px rgba(0,0,0,0.18); */
}

/* press effect */
.back-btn-3d:active {
  transform: translateY(4px);
  box-shadow:
    0 2px 0 #cfcfcf,
    0 6px 12px rgba(0,0,0,0.15);
}

.back-btn-3d i {
  font-size: 18px;
}